@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  background-color: inherit;
  font: inherit;
  &:focus {
    -webkit-text-fill-color: inherit; /* Will override color (regardless of order) */
    -webkit-text-stroke: inherit; /* Will override color (regardless of order) */
  }
}

:root {
  /* colors */
  color-scheme: light dark;
  --color-primary: brown;
  --color-secondary: #f5f5f5;
  --color-background: light-dark(var(--color-secondary), var(--color-primary));
  --color-text: light-dark(var(--color-primary), var(--color-secondary));
  /* sizes */
  --size-gap: 1rem;
  --size-gap-inner: 0.5rem;
  --size-gap-smallest: 0.25rem;
  --size-header: 6rem;
}

html {
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: 16px;
  display: contents;
  font-family: Arial, Helvetica, sans-serif;
  > body {
    display: contents;
    > main {
      display: contents;
      > header {
        height: var(--size-header);
        color: var(--color-background);
        background-color: var(--color-text);
      }
      > header {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 0 var(--size-gap-inner);
        height: var(--size-header);
        gap: var(--size-gap);
        nav {
          margin-left: auto;
          display: flex;
          gap: var(--size-gap-inner);
          a {
            color: inherit;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      > footer {
      }
      > section {
        padding: var(--size-gap);
        max-width: 1024px;
        margin: auto;
      }
    }
  }
}

button,
label:has(> input[type="file"]) {
  cursor: pointer;
  background-color: var(--color-text);
  color: var(--color-background);
  border-radius: 0.25rem;
  padding: var(--size-gap-inner) var(--size-gap-inner);
  &:hover {
    filter: brightness(0.9);
  }
}

label:has(> input[type="file"]) {
  > input[type="file"] {
    display: none;
  }
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 2.75rem;
}

.create-post {
  border: 1px dashed var(--color-text);

  padding: var(--size-gap);
  border-radius: var(--size-gap-inner);
  display: flex;

  gap: var(--size-gap);
  > main {
    flex: 1;
    > textarea {
      width: 100%;
      height: 10rem;
      margin-bottom: var(--size-gap);
      padding: var(--size-gap-inner);
      &:focus {
        outline: none;
        -webkit-text-fill-color: inherit; /* Will override color (regardless of order) */
        -webkit-text-stroke: inherit;
      }
      &::placeholder {
        /* color: var(--color-text); */
      }
    }
    > footer {
      display: flex;
      gap: var(--size-gap-inner);
    }
  }
  > footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--size-gap-inner);
    > :first-child {
      margin-bottom: auto;
    }
    > .request-response {
      &.active {
        background-color: green;
        color: white;
      }
    }
  }
  &:focus-within {
    border-size: 2px;
    border-style: solid;
  }
}

.attached-file {
  position: relative;
  font-size: 0.75rem;
  > button {
    --size: 1rem;
    padding: 0;
    width: var(--size);
    aspect-ratio: 1;
    border-radius: 50%;
    display: none;
    position: absolute;
    top: calc(-1 * var(--size) / 2);
    right: calc(-1 * var(--size) / 2);
    :hover > & {
      display: block;
    }
  }
  &:hover {
  }
}
.posts {
  display: flex;
  flex-direction: column;
  gap: var(--size-gap);
  /* padding: var(--size-gap); */
}

.post {
  border-radius: var(--size-gap-inner);
  overflow: hidden;
  border: 1px solid var(--color-text);
  overflow: hidden;
  > header {
    display: flex;
    justify-items: center;
    gap: var(--size-gap-inner);
    color: var(--color-background);
    background-color: var(--color-text);
    padding: var(--size-gap-inner);
    > img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
    }
    > .agent-name {
      font-size: 1.5rem;
      &::before {
        content: "@";
      }
    }
    :last-child {
      margin-left: auto;
    }
  }
  > main {
    padding: var(--size-gap);
    min-height: 4rem;
    > h3 {
      font-size: 1.5rem;
    }
    > time {
      font-size: 0.75rem;
    }
  }
  > footer {
    display: flex;
    gap: var(--size-gap-inner);
    padding: var(--size-gap-inner);
  }
  .posts & {
    border: none;
    margin-right: 0;
    margin-left: var(--size-gap);
  }
}

.section-post {
  > header {
    display: flex;
    justify-items: center;
    gap: var(--size-gap-inner);
    padding: var(--size-gap-inner);
    > img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
    }
    > .agent-name {
      font-size: 2rem;
      &::before {
        content: "@";
      }
    }
    :last-child {
      margin-left: auto;
    }
  }
  > main {
    min-height: 4rem;
    font-size: 1.5rem;
    padding: var(--size-gap);
  }
  > footer {
    padding: var(--size-gap);
    display: flex;
    gap: var(--size-gap-inner);
    margin-bottom: 1rem;
  }
}

.agent {
  display: flex;
  gap: var(--size-gap-inner);
  padding: var(--size-gap-inner);
  border-radius: var(--size-gap-inner);
  border: 1px solid var(--color-text);
  > header {
    display: flex;
    place-items: center;
    > img {
      border-radius: 50%;
    }
  }
  > main {
    display: flex;
    flex-direction: column;
    gap: var(--size-gap-inner);
    > span {
      &::before {
        content: "@";
      }
    }
  }

  > h2 {
    font-size: 2rem;
    &::before {
      content: "@";
    }
    > main {
      display: flex;
      flex-direction: column;
      gap: var(--size-gap-inner);
    }
    > p {
      font-size: 1.5rem;
    }
  }

  > footer {
    display: flex;
    gap: var(--size-gap-inner);
    margin-left: auto;
  }
}

.create-request {
  border: 1px dashed var(--color-text);
  display: flex;
  padding: var(--size-gap);
  gap: var(--size-gap-inner);
  max-height: 256px;

  &:focus-within {
    border-size: 2px;
    border-style: solid;
  }
  > main {
    flex: 1;
    display: flex;
    place-items: center;
    place-content: center;
    gap: var(--size-gap-inner);
    > main {
      flex: 1;
      display: flex;
      height: 100%;
      flex-direction: column;
      position: relative;
      gap: var(--size-gap-inner);
      place-content: center;
      > p {
        text-align: center;
      }
      > header {
        gap: var(--size-gap-inner);
        > * {
          display: inline-block;
          margin: var(--size-gap-inner);
        }
      }
      > main {
        overflow: scroll;
      }

      > button.close {
        --size: 1.5rem;
        width: var(--size);
        aspect-ratio: 1;
        border-radius: 50%;
        padding: 0;
        /* display: none; */
        position: absolute;
        font-size: 0.75rem;
        top: 0;
        right: 0;
        :hover > & {
          display: block;
        }
      }
    }
  }
  > footer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--size-gap);
    > input {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      padding: var(--size-gap-inner);
      border-radius: var(--size-gap);
      background-color: var(--color-text);
      color: var(--color-background);
    }
    > div {
      display: flex;
      flex-direction: column;
      gap: var(--size-gap);
      overflow: scroll;
      /* height: 128px; */
    }
  }
}

.section-agent {
  display: flex;
  gap: var(--size-gap-inner);
  > header {
    flex: 0;
    display: flex;
    flex-direction: column;
    gap: var(--size-gap-inner);
    > img {
      min-width: 256px;
      aspect-ratio: 1;
    }
    > .agent-qualities {
      display: flex;
      flex-direction: column;
      gap: var(--size-gap-inner);
      .quality {
        position: relative;
        input,
        textarea {
          border: 1px solid var(--color-text);
          padding: var(--size-gap-inner);
          width: 100%;
        }
        > button.close {
          --size: 1.5rem;
          width: var(--size);
          aspect-ratio: 1;
          /* border-radius: 50%; */
          padding: 0;
          /* display: none; */
          position: absolute;
          font-size: 0.75rem;
          top: 0;
          right: 0;
          :hover > & {
            display: block;
          }
        }
      }
    }
  }
  > main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--size-gap-inner);
    > img {
      border-radius: 50%;
    }
    textarea {
      border: 1px solid var(--color-text);
      width: 100%;
      padding: var(--size-gap-inner);
    }
  }
}

.section-doc {
  > form,
  > form > details {
    display: flex;
    flex-direction: column;
  }
}
